@media screen and (max-width: 600px) {
    .photography-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin-top: -5px;
}

header button:hover {
    background-color: #3e8e41;
}


#photography {
    text-align: center;
    padding: 50px 0;
}

#photography h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#photography p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.photography-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns per row */
    grid-gap: 20px;
    margin-top: 20px;
}

.photography-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photo-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    border: 10px solid #fff;
    box-shadow: 0px 0px 10px #000;
}